<!-- banner part start-->
<section class="banner_part">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-xl-12 col-md-12">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h2>About us</h2>
                        <p>This is about Code4Share</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner part start-->